<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.parisdescartes.iut.informatique.remoteunicodetyper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rut_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rut_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Connexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErreurConnexion" />
        <activity
            android:name=".TestBoutons"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>